<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{|/|}">Les Produits <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mon-panier|}">Mon panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mes-commandes|}">Mes commandes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <h1>Microservice Client eCommerce</h1>

    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 my-1">
            <a th:href="@{|/product-detail/${product.id}|}">
                <img th:src="${product.illustration}" class="card-img-top"/>
                <p th:text="${product.name}"></p>
            </a>
        </div>
    </div>
</div>
</body>
</html>