<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/|}">Les Produits </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mon-panier|}">Mon panier</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{|/mes-commandes|}">Mes commandes <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="py-2 w-100 d-flex justify-content-between">
        <div>
            <h1>Mes Commandes</h1>
        </div>
    </div>
    <div th:each="order : ${orderList}" class="my-1">
        <div class="list-group">
            <a th:href="@{|/mes-commandes/${order.getId()}|}" class="d-flex list-group-item list-group-item-action ">
                <div class="d-flex w-100 justify-content-between">
                    <div class="d-flex flex-column justify-content-between">
                        <h5 th:text="|Commande ${order.getId()}|"></h5>
                        <div><b th:text="|${order.getProducts().size()} |"></b>produit(s) acheté(s)</div>
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex justify-content-between">
                            <b><span th:text="|${order.getTotalPrice()} |"></span>€</b>
                            <span class="ml-3 badge badge-success">Payée</span>
                        </div>
                        <span class="py-2 btn btn-link">Voir plus</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
</body>
</html>