<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/|}">Les Produits </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mon-panier|}">Mon panier</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{|/mes-commandes|}">Mes commandes <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="py-2 w-100 d-flex justify-content-between">
        <div>
            <h1 th:text="|Commande ${order.getId()}|"></h1>
            <div><b th:text="|${order.getProducts().size()} |"></b>produit(s) acheté(s)</div>
            <div>Prix total <span th:text="|${totalPrice} |"></span>€</div>
        </div>
        <div class="d-flex align-items-start">
            <a th:href="@{|/mes-commandes|}" class="mr-2 btn btn-primary btn-secondary"><- <small>Retour commandes</small></a>
        </div>
    </div>
    <div th:each="productQ : ${productQuantities}" class="my-1">
        <div class="list-group">
            <div class="d-flex list-group-item list-group-item-action ">
                <div class="mr-3">
                    <img width="150px" th:src="${productQ.getProductBean().illustration}" class="img-fluid"/>
                </div>
                <div class="w-100 flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 th:text="${productQ.getProductBean().getName()}"></h5>
                        <span th:text="|Prix unitaire: ${productQ.getProductBean().getPrice()}|">
                        </span>
                        <span th:text="|Prix total: ${productQ.getTotalPrice()}|">
                        </span>

                    </div>
                    <div class="w-100 flex-column align-items-start">
                        <p th:text="${productQ.getProductBean().getDescription()}"></p>
                        <div class="d-flex w-100 justify-content-between">
                            <small th:text="|Quantité : ${productQ.getQuantity()}|"></small>
                            <span class="badge badge-success">Payé</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>