<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Microservice Client</title>
    <link rel="stylesheet" href="css/styles.css">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/|}">Les Produits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mon-panier|}">Mon panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{|/mes-commandes|}">Mes commandes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="py-2" th:text="|Détails du produit ${product.getId()}|"></h1>
    <hr />
    <div class="row py-4">
            <div class="col-xs-12 col-md-4">
                <img width="250px" th:src="${product.getIllustration()}" alt="..." class="img-fluid">
            </div>
            <div class="col-xs-12 col-md-8 d-flex flex-column justify-content-between">
                <div class="">
                    <h2 th:text="${product.getName()}"></h2>
                    <span th:text="${product.getDescription()}"></span>
                </div>
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <b><span th:text="|${product.getPrice()} |"></span>€ </b>
                    <form class="ml-3" th:action="|/add-cart/${product.getId()}|" th:object="${product}">
                        <select className="form-control px-3  w-100" name="quantity">
                            <option value="1">x 1 produit</option>
                            <option value="2">x 2 produits</option>
                            <option value="3">x 3 produits</option>
                            <option value="4">x 4 produits</option>
                        </select>
                        <button type="submit" class="mx-3 btn btn-primary">Ajouter au panier</button>
                    </form>
                </div>
            </div>
    </div>
</div>
</body>
</html>